<div class="container">
    <div class="loginCard">
      <h2 class="login">Login</h2>
      <p>Enter your credential to login</p>
  
      <form>
        <div class="input">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Username" />
        </div>
  
        <div class="input">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" />
        </div>
  
        <a href="#" class="forgotPassword">Forgot Password?</a>
  
        <button type="submit" class="loginBtn">Login</button>
  
        <p class="signupText">Don’t have an account?</p>
        <button class="signupBtn" [routerLink]="['/signUp']">Sign up</button>
      </form>
    </div>
  </div>
