<nav class="navbar">
    <div class="logo">RIGHT RESOURCE FIT</div>
    <ul class="nav">
      <li class="Home"><a [routerLink]="['/home']" >Home</a></li>
      <li><a [routerLink]="['/aboutUs']">About Us</a></li>
      <li><a [routerLink]="['/recruiter']">Recruiter</a></li>
      <li><a [routerLink]="['/latestJobs']">Latest Jobs</a></li>
    </ul>
    <div class="Buttons">
      <button class="login-btn" [routerLink]="['/login']">Log in</button>
      <button class="signup-btn" [routerLink]="['/signUp']" >Sign Up</button>
    </div>
  </nav>